body {
  background: #ddd;
}
ul {
  border: 1px solid #999;
  float: left;
  padding: 0px;
  margin: 10px;
  width: 300px;
}
li {
  height: 30px;
  list-style-type: none;
}
li:nth-child(even){
  background: #999;
}
li span {
  float: left;
  padding: 2px;
}
#video-container {
  background: black;
  float: left;
  height: 230px;
  width: 400px;
}
video {
  max-width: 400px;
}
input[type="number"]{
  width: 30px;
}
